# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*__pycache__
.DS_Store

# notebooks
.ipynb_checkpoints
notebooks/*.ipynb

# data
data/*.csv
